<div id="chat-footer">
	<div id="footer-bar">
  <div id="notification-bar">
    <div style="float:left; margin:6px 20px">
      <h5 id="latest-notif">
        <!--most recent notification will go here... -->
      </h5>
    </div>
  </div>
  <span style="float:right" id="footer-toggle" class="glyphicon glyphicon-chevron-up white"></span>
		<div style="float:right; margin-top:6px; cursor:default">
			<h5>
			EVG31337
			</h5>
		</div>
       

</div>

