                    <ul id="admin-sidebar">
                       
                        <a  href="/dashboard"><li>Dashboard</li></a>
                        <a  href="/wiki"><li>Wiki</li></a>
                        <hr class="dark">
                        <a  href="/timers"><li>Timers</li></a>
                        <a  href="/pings"><li>Recent Pings</li></a>
                        <a  href="/doctrines"><li>Doctrines</li></a>
                        <a  href="/comms"><li>Comms</li></a>
                        <a  href="/market"><li>Market**</li></a>
                        <a  href="/requests"><li>Requests**</li></a>
                        <a  href="/fleets"><li>Fleets**</li></a>
                        <a  href="/forum"><li>Forum</li></a>
                        <% if (user.CharacterRoleLevel >= 4) { %>
                        <hr class="dark">
                        <a  href="/administrative"><li>Administrative</li></a>
                        <% } %>
                        <hr class="dark">
                        <a  href="/profile"><li>Profile</li></a>
                        <a  href="/logout"><li>Logout</li></a>
                    </ul>