<!doctype html>

<head>
    <title>Lance | Admin Panel</title>
    <%= include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>

<body>
<%= include sidebar.ejs %>
                    <div class="tab-content">
               
                            <h3>Super Admin Page</h3>
                            <p>LANCE low-level controls go here.</p>
                       
                    </div>
            
</body>
<%= include ../partials/footer.ejs %>

    </html>