                    <ul id="admin-sidebar">
                        <a  href="/admin/"><li>General</li></a>
                        <hr>
                        <a  href="/admin/users"><li>User Management</li></a>
                        <a  href="/admin/events"><li>Event Management</li></a>
                        <a  href="/admin/misc"><li>Miscellaneous</li></a>



                        
                    </ul>