<!doctype html>

<head>
    <title>Eve Corporation Manager | Administrative</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                            <h3>Administrative</h3>
          



       
                      Nothin here for now

                   



                       
                      
<br>
                    </div>
            <br>
</body>
<%= include /partials/footer.ejs %>

    </html>