<!doctype html>

<head>
    <title>Eve Corporation Manager | Comms</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                            <h3>Comms</h3>
                           <br>
                      TeamSpeak 3 Server: <code> inglorious.3d-game.com:9120</code>
                      <br>

                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>