<!doctype html>
<head>
<title>Lance | Dashboard</title>
<%= include /partials/header.ejs %>
</head>
<body>
<div class="container" >
<div class="row">
        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h2 class="red"> Hi <%= user.local.name %>!</h2>
<!-- <p> Welcome to LanwarX, where you can ensure your top keks are connected to your dank memes
otherwise the jetfuel might melt the steel beams! -->


<p> <h4>Welcome to Lance!</h4></p>
<p>	This year's LANWAR is powered by Lance. Lance is an evergrowing LAN party management engine made by gamers for gamers. It's the perfect choice for planning and organizing tournaments and users in one place! </p>
<p><h4>How to use</h4>
Information about how to register for tournaments, put together teams, and how to ask for support will be put here. This includes basic rules and information that everybody should read over before the event, such as general rules and links to any more information that might be requested.</p>
<p class="center center-text"><b>SPONSOR LOGOS GO HERE</b></p>
</div>
</div>
</div>
</div>
<%= include /partials/footer.ejs %>
</body>
</html>
