 <!doctype html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<head>
    <title>Lance - LANWAR X</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/front.css" type="text/css">
</head>
<body>
    <div class="lance">
    <img src="https://lh6.googleusercontent.com/-dXJZIPkzy2M/AAAAAAAAAAI/AAAAAAAAEpM/FRLuHb_g_zI/s0-c-k-no-ns/photo.jpg" class="logo" alt="Event Logo">
        <div class="container">
                    <div class="well">
                        <h1 class="red">Eve Corp Events</h1>
                        <a href="/login" class="btn btn-warning button"><span class="fa fa-lock"></span> Login</a>&nbsp;
                        <a href="/signup" class="btn btn-danger button"><span class="fa fa-envelope"></span> Sign Up</a>
                    </div>
    </div>
</body>
</html>