 <!doctype html>
<html>
<head>
    <title>Lance</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/front.css" type="text/css">
</head>
<body>
<div class="lance">
<a href="/"><img src="https://lh6.googleusercontent.com/-dXJZIPkzy2M/AAAAAAAAAAI/AAAAAAAAEpM/FRLuHb_g_zI/s0-c-k-no-ns/photo.jpg" class="logo" alt="LANWAR X"></a>
<div class="container">
    <div class="well">


    <h1 class="red">Login</h1>

   

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" type="email" required autofocus>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>

        <button type="submit" class="btn btn-warning button">Login</button>
    </form>

    <hr>

    <p style="margin-bottom: 0;">Need an account? <a href="/signup">Signup</a></p>
    </div>
</div>
</div>
</body>
</html>