<!doctype html>

<head>
    <title>Eve Corporation Manager | Requests</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                            <h3>Requests</h3>
                           <br>
                  Requests
                      <br>

                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>